* {
 margin: 0;
 box-sizing: border-box;
 padding: 0;
}

:root {
 --primary: #ffc50a;
 --dark: #232323;
}

body {
 background-color: #22272b;
 display: flex;
 /* padding: 12px; */
 /* flex-wrap: wrap; */
}
.sidebar {
 display: inline-block;
 width: 20vw;
 padding: 12px;
 /* justify-content: center ; */
 align-items: center;
 height: 100vh;
 border: 1px solid whitesmoke;
 border-radius: 8px;
 padding-left: 13px;
position: sticky; 
top: 0;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.side-categories {
 width: 180px;
 /* text-align: center; */
 padding: 14px;
 margin-top: 12px;
 font-size: 20px;
 font-weight: 700;
 color: white;
 cursor: pointer;
 transition: all 400ms;
}

.side-categories:hover {
 color: #ffc50a;
 scale: 1.1;
}

.btn {
 background-color: #ffc60ad3;
 text-align: center;
}

.btn:hover {
 opacity: .5;
 color: white;
}

.food-categories {
 display: flex;
 align-items: center;
 padding: 12px 19px;
 gap: 12px;
 height: 120px;
 width: 100%;

}

.food-categories img {
 width: 80px;
 cursor: pointer;
 border-radius: 50%;
 transition: all .3s;
}

.right-part {
 margin-left: 12px;
 width: 80vw;
 /* border: 2px solid red; */
 padding: 12px;
}

.item span {
 display: inline-block;
 width: 100%;
 cursor: pointer;
 text-align: center;
 margin-top: 3px;
 padding: 4px;
 font-size: 19px;
 font-weight: 600;
 color: #ffc50a;
 transition: all 450ms;

}

.active {
 opacity: 0.2;
}

.row {
 display: flex;
 flex-wrap: wrap;
 margin-top: 18px;
 gap: 30px 12px;
 justify-content: space-evenly;

}


.card {
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 flex-basis: 30%;
 padding: 13px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
}

.card h2 {
 font-size: 1.4rem;
 padding: 12px;
 font-weight: 600;
 color: white;
 text-transform: capitalize
}

.card img {
 width: 100%;
 height: 160px;
 margin: auto;
}
.card p{
 margin-top: 12px;
 color: white;
 opacity: 0.5;
}
.card .flex{
 color: #ffc50a;
 width: 100%;
justify-content: space-between;
padding: 12px;

}
.card .flex div{
 font-size: larger; 
 font-weight: 700;
 padding: 5px;
}
.card .flex :nth-child(1){
color: white;
}
.card .flex :nth-child(1) span{
opacity: 0.2 ;
text-decoration: line-through;
margin-left: 3px;
}
.add-to-cart{
 margin-top: 5px;
 background-color: #ffc50a;
 width: 100%;
 text-align: center;
 font-weight: 500;
 color: white;
 padding: 12px 22px;
 border-radius: 12px;
 cursor: pointer;
 font-size: larger;
 line-height: 20px;
 transition: all 450ms;
}
.add-to-cart:hover{
 opacity: 0.4;
}
.cart{
 min-height: 120vh;
 width:39vw;
 /* border: 2px solid red; */
 /* width: 50vw; */
 margin: auto;
 background-color: var(--dark);
 position: absolute;
 left:100%; 
 /* cursor: pointer; */
 padding: 12px;
}
.cart-item{
 color: white;
}
.cart-nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 2em;
 /* border: 2px solid red; */
 margin-bottom: 4px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
border-radius: 8px ;
}

.cart-logo{
 font-size: 35px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-weight: 700;
 color: #ffc50a;
 line-height: 2em;
 letter-spacing: 2px;
}
.clear,.addmore{
 background-color: #f8c314b2;
 padding: 12px 20px;
 font-weight: 700;
 font-size: 21px;
 border-radius: 4px;
 cursor: pointer;
}
.table{
padding: 2px;
/* border: 2px solid red; */
width: 100%;
border-bottom: 4px solid #ffc50a;
border-radius: 4px;
margin-bottom: 18px;
padding-bottom: 18px;
}
.table-row{
 width: 100%;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 display: grid;
 padding: 15px;
 grid-template-columns: 0.5fr 1fr 1fr 1fr;
 /* border: 2px solid red; */
 border-radius: 6px;
 align-items: center;
 margin-top: 13px;
 column-gap: 4px;
 /* border: 2px solid red; */
}
.table-row img{
 width: 80px;
 border-radius: 4px;
 /* border-radius: 50%; */
}
.item-name{
 color: white;
 font-size: x-large;
 /* font-size: medium; */
 font-family: Arial, Helvetica, sans-serif;
 margin-left: 12px;
}
#qty{
 width:50%;
 padding: 3px 12px ;
 border-radius: 4px ;
}
.price{
 color: white;
 font-size: 1.4rem;
 font-size: medium;
 font-family: Arial, Helvetica, sans-serif;
 /* letter-spacing: 1px; */
 font-weight:400;
 font-size: x-large;

}
.total div{
 color: white;
 font-size: 1.4rem;
 font-size: medium;
 font-family: Arial, Helvetica, sans-serif;
 /* letter-spacing: 1px; */
 font-weight:400;
 font-size: x-large;
}
.total {
 display: flex;
 gap: 4px;
}